body {
  padding-top: 70px;
  margin: 0 auto 0 auto;
}

.navbar-container {
  background-color: #363333;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-item a {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #cecece;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.navbar-item a:hover {
  color: #459987;
  background-color: transparent;
}

.content-container {
  width: 70%;
  max-width: 1020px;
  margin: 0 auto;
}

.content-title {
  margin-bottom: 20px;
}

.section-title {
  border-bottom: 3px solid #459987;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.section-devider {
  width: 70%;
  max-width: 1020px;
}

section, footer {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 30px;
}

#about {
  background-color: #2B2B2B;
  margin-top: -20px;
}

#about img {
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

#about .section-subtitle{
  color: #e7e7e7;
}

#about p {
  color: #8b8b8b;
  margin-top: 20px;
  margin-bottom: 20px;
}

 #about li a, #footer li a, #go-top a {
  color: #cecece;
  float: left;
  background-color: transparent;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  /* padding: 10px 30px 10px 0px; */
}

#about li a:hover,  #footer li a:hover {
  text-decoration: none;
  color: #459987;
}

.section-subtitle {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

.bullet {
  padding-left: 10px;
  padding-right: 10px;
}

.highlight {
  color: #838C95;
}

.highlight-bullet {
  padding-right: 10px;
}

.bars {
  width: 95%;
}

.bars .skills {
  margin-top: 36px;
  list-style: none;
  padding-left: 0px;
}

.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 42px;
  border-radius: 3px;
}

.bars li em {
  font: 15px 'opensans-bold', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: 10px;
  left: 10px;
}

.bar-expand {
  background: #2B2B2B;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding-right: 24px;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

.bar-expand:hover {
  background: #459987;
}

.percentage80 {
  width: 80%;
  -moz-animation: percentage80 2s ease-out;
  -webkit-animation: percentage80 2s ease-out;
}

.percentage70 {
  width: 70%;
  -moz-animation: percentage70 2s ease-out;
  -webkit-animation: percentage70 2s ease-out;
}

.percentage60 {
  width: 60%;
  -moz-animation: percentage60 2s ease-out;
  -webkit-animation: percentage60 2s ease-out;
}

.percentage50 {
  width: 50%;
  -moz-animation: percentage50 2s ease-out;
  -webkit-animation: percentage50 2s ease-out;
}

@-moz-keyframes percentage80 {
  0% {
      width: 0px;
  }

  100% {
      width: 80%;
  };
}

@-moz-keyframes percentage70 {
  0% {
      width: 0px;
  }

  100% {
      width: 70%;
  };
}

@-moz-keyframes percentage60 {
  0% {
      width: 0px;
  }

  100% {
      width: 60%;
  };
}

@-moz-keyframes percentage50 {
  0% {
      width: 0px;
  }

  100% {
      width: 50%;
  };
}

@-webkit-keyframes percentage80 {
  0% {
      width: 0px;
  }

  100% {
      width: 80%;
  };
}

@-webkit-keyframes percentage70 {
  0% {
      width: 0px;
  }

  100% {
      width: 70%;
  };
}

@-webkit-keyframes percentage60 {
  0% {
      width: 0px;
  }

  100% {
      width: 60%;
  };
}

@-webkit-keyframes percentage50 {
  0% {
      width: 0px;
  }

  100% {
      width: 50%;
  };
}

#portfolio {
  background-color: #ddd;
}

#portfolio-title {
  text-align: center;
  margin-bottom: 40px;
}

#portfolio .section-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.portfolio-item img {
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* .overlay {
  background:rgba(0,0,0,.75);
  width: 100%;
  padding: 0 15px 0 15px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
} */

/* .portfolio-item:hover img {
  cursor: pointer;
}

.portfolio-item:hover .overlay {
  opacity: 1;
  cursor: pointer;
} */

.portfolio-item {
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.portfolio-item-data {
  height: 200px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-item-data .tag {
  text-transform: uppercase;
  margin-left: 5px;
  display: inline-block;
}

.portfolio-item-data p {
  margin-top: 10px;
  color: #707070;
}

.portfolio-item-footer {
  background-color: #000000;
  height: 50px;

}

.portfolio-item-footer i {
  margin-right: 5px; 
}

.portfolio-item-footer a {
  text-decoration: none;
  color: #cecece;
  background-color: transparent;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  font-size: 18px;
}

.portfolio-item-footer a:hover {
  text-decoration: none;
  color: #459987;
}

.footer-item {
  float: left;
  position: absolute;
  right: 0;
}

.portfolio-item-github {
  right: 35px;
  padding-top: 13px;
}

.portfolio-item-link {
  right: 135px;
  padding-top: 13px;
}

footer {
  background-color: #2B2B2B;
}

footer h1 {
  color: #cecece;
}

footer .social-media {
  display: inline-block;
}

footer p {
  color: #707070;
  position: absolute;
}

footer p a {
  text-decoration: none;
  color: #cecece;

}

footer p a:hover {
  text-decoration: none;
  color: #459987;
}

#go-top {
  margin-left: 46%;
  float: left;
  margin-top: -130px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #444444;
}

#go-top:hover {
  background-color: #459987;
}

#go-top a {
  width: 60px;
  height: 60px;
  padding-top: 10%;
  padding-left: 25%;
  border-radius: 100%;
  border-radius: 100%;
}